# System Files
.DS_Store
Thumbs.db
._*

# Environment Variables & Secrets
.env
.env.local
.env.*.local

# Dependencies
node_modules/
npm-debug.log
yarn-error.log
pnpm-lock.yaml
package-lock.json
yarn.lock

# Build & Cache directories
.netlify/
dist/
build/
.cache/
public/storage
